{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LostAndFound</title>
</head>
<body>
    {% if user.is_authenticated %}
        <h3>Logged in as {{ user.username }}</h3>
        <a href="{% url 'create' %}">Create Post</a>
        <form action="{% url 'logoutsystem' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <a href="{% url 'signupsystem' %}">Sign Up</a>
        <a href="{% url 'loginsystem' %}">Login</a>

    {% endif %}
    {% block content %}{% endblock %}
</body>
</html>