{% extends 'lostandfoundapp/base.html' %}
{% load static %}

{% block content %}
<h1>Home Page</h1>
<h3>Categories</h3>
<nav>
    <a href="{% url 'index' %}">All</a>
    {% for category in categories %}
        <a href="{% url 'index' %}?category={{ category.name }}">{{ category.name }}</a>
    {% endfor %}
</nav>
<br>
{% for item in founditems %}
    <p>{{ item.title }}</p>
    <p>{{ item.textfield }}</p>
    <p>{{ item.category }}</p>
    <img width="400" height="400" src="{{ item.image.url }}" alt="photo">
{% endfor %}
{% endblock %}