{% extends 'lostandfoundapp/base.html' %}
{% load static %}

{% block content %}


<div class="categoriesnav">
    <h3>Categories</h3>
        <a href="{% url 'index' %}">All</a>
    {% for category in categories %}
        <a href="{% url 'index' %}?category={{ category.name }}">{{ category.name }}</a>
    {% endfor %}
</div>

<div class="posts">
    <div class="dropdown">
        <h4>{{ founditems.count }} item{{ founditems.count|pluralize }} available now...</h4>
        <div class="dropdown1">
        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sorting by:
          </button>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item active" href="{% url 'index' %}">Latest</a></li>
            <li><a class="dropdown-item" href="{% url 'oldest' %}">Oldest</a></li>
          </ul>
        </div>
    </div>
{% for item in founditems %}
    <div class="card">
        <img src="{{ item.image.url }}" alt="photo">
        <p><b>{{ item.title }}</b></p>
        <p>{{ item.date|date:'F d, Y' }}</p>
        {% if item.category %}
            <p> Category: {{ item.category }}</p>
        {% endif %}
        <a class="btn btn-primary" href="{% url 'viewpost' item.id %}">View</a>
    </div>
{% endfor %}
{% endblock %}
</div>