{% extends 'lostandfoundapp/base.html' %}
{% load static %}

{% block content %}
<h1>Home Page</h1>
<h3>Categories</h3>
<nav>
    <a href="{% url 'index' %}">All</a>
    {% for category in categories %}
        <a href="{% url 'index' %}?category={{ category.name }}">{{ category.name }}</a>
    {% endfor %}
</nav>
<br>
{% for post in myposts %}
    <p>{{ post.title }}</p>
    <p>{{ post.date|date:'F d, Y' }}</p>
    <p>{{ post.category }}</p>
    <img width="400" height="400" src="{{ item.image.url }}" alt="photo">
    <form action="{% url 'delete' post.id %}", method="POST">
        {% csrf_token %}
        <button type="submit">Delete Post</button>
    </form>
{% endfor %}
{% endblock %}