{% extends 'lostandfoundapp/base.html' %}
{% load static %}

{% block content %}


<div class="categoriesnav">
    <h3>Categories</h3>
        <a href="{% url 'myposts' %}">All</a>
    {% for category in categories %}
        <a href="{% url 'myposts' %}?category={{ category.name }}">{{ category.name }}</a>
    {% endfor %}
</div>

<div class="posts">
    <div class="dropdown">
        <h4>{{ myposts.count }} post{{ myposts.count|pluralize }} can be deleted now...</h4>
    </div>
{% for post in myposts %}
    <div class="card">
        <img src="{{ post.image.url }}" alt="photo">
        <p><b>{{ post.title }}</b></p>
        <p>{{ post.date|date:'F d, Y' }}</p>
        {% if post.category %}
            <p> Category: {{ post.category }}</p>
        {% endif %}
        <form action="{% url 'delete' post.id %}", method="POST">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Delete Post</button>
        </form>
    </div>
{% endfor %}
</div>
{% endblock %}
