{% extends 'lostandfoundapp/baseforauth.html' %}
{% load static %}

{% block content %}
<div class="info">
    <div class="viewpost">
    <h1>{{ post.title }}</h1>
    {% if post.category %}
        <h3>Category: {{ post.category }}</h3>
    {% endif %}
    <h5>{{ post.date|date:'F d, Y' }}</h5>
    <img src="{{ post.image.url }}" alt="photo">
    <h3>{{ post.textfield }}</h3>
    {% if post.phonenumber %}
        <h4>Phone number: {{ post.phonenumber }}</h4>
    {% endif %}
    {% if post.email %}
        <h4>Email: {{ post.email }}</h4>
    {% endif %}
    <a href="{% url 'index' %}">Return</a>
    </div>
</div>
{% endblock %}