* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #01225c;
}


main {
    min-height: 100vh;
    background: linear-gradient(to right top, #9ED2C6, #54BAB9);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    margin: 5% 0%;
    min-height: 80vh;
    background: white;
    width: 70%;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
    border-radius: 4rem;
    z-index: 3;
    backdrop-filter: blur(1rem);
    text-align: center;
}


nav {
    padding-top: 25px;
}
.nav a {
    width: 10%;
}

.header1 {
    margin-top: 50px;
    border-bottom: 8px solid rgba(255, 255, 255, 0.4);
}
.header1 h1{
    padding-top: 25px;
    width: 72%;
    float:right;
    text-align: left;
    font-size: 56px;
}
.header1 h3{
    width: 68%;
    float:right;
    text-align: left;
    font-size: 30px;
}
.header1 img {
    padding-left: 140px;
    border-radius: 2rem;
    height: 180px;
    object-fit: cover;
    object-position: center;
    float: left;
}

.authsystem {
    width: 150px;
    font-size: 20px;
    margin-left: 1170px;
    margin-top: 70px;
    border: 2.5px solid #01225c;
    z-index: 4;
    margin-bottom: -200px;
}

.info {
    margin-top: 200px;
    margin-bottom: 65px;
    border-top: 8px solid rgba(255, 255, 255, 0.4);
}
.info h3 {
    margin-top: -10px;
    margin-bottom: 15px;
    color: #f74420;
}
.info h1 {
    margin: 30px 0px;
    font-size: 45px;
}
.info h5 {
    font-size: 24px;
}
.info button {
    display: block;
    color: #fcfcfc;
    width: 10%;
    min-height: 5vh;
    font-size: 20px;
    background: linear-gradient(to right top, #9ED2C6, #54BAB9);
    border-radius: 2rem;
    border: 2.5px solid #01225c;
    text-decoration: none;
    transition: transform .2s ease;
    text-align: center;
    margin-left: 45%;
    font-size: 20px;
}

.info button:hover {
    color: #01225c;
    text-decoration: none;
    transform: scale(1.1);
}

.info img {
    border-radius: 2rem;
    max-height: 500px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 40px;
    margin-top: 3px;
}

.username input, .password1 input, .password2 input, .password input, .dropdown select {
    padding: 0.5%;
    text-align: center;
    color: #01225c;
	font-size: 20px;
	border: 6px solid rgba(255, 255, 255, 0.7);
	outline: none;
	border-radius: 1.5rem;
	background-color: rgba(255, 255, 255, 0.2);
	letter-spacing: 1px;
}

.username input:hover, .password1 input:hover, .password2 input:hover, .password input:hover, .dropdown select:hover {
    text-align: center;
    color: #01225c;
	border: 6px solid rgba(255, 255, 255, 0.5);
	background-color: transparent;
}

.circle1,
.circle2 {
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.4));
    width: 20rem;
    height: 20rem;
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    bottom: 5%;
    left: 7%;
}
.circle2 {
    top: 4%;
    left: 76%;
}

.viewpost a {
    display: block;
    color: #fcfcfc;
    width: 14%;
    padding-top: 10px;
    min-height: 6vh;
    font-size: 30px;
    background: linear-gradient(to right top, #9ED2C6, #54BAB9);
    border-radius: 2rem;
    border: 2.5px solid #01225c;
    text-decoration: none;
    transition: transform .2s ease;
    text-align: center;
    margin-left: 44%;
    font-size: 20px;
    margin-top: 50px;
}

.viewpost a:hover {
    color: #01225c;
    text-decoration: none;
    transform: scale(1.1);
}
.viewpost h1 {
    font-size: 54px;
    color: #01225c;
}
.viewpost h3 {
    font-size: 28px;
    color: #01225c;
    margin-top: -20px;

}
.viewpost h5 {
    font-size: 20px;
    color: #5c665f;
    margin-top: -10px;
}

.viewpost h4 {
    font-size: 24px;
    color: #01225c;
    margin-top: 25px;
    margin-bottom: -25px;
}

